<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/acceuil.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <title>NetflixLight</title>
</head>
<body>
    <h3>Films populaires</h3>
	<div class="swiper swiper-movies movies-swiper">
		<div class="swiper-wrapper" id="movies-wrapper"></div>
	</div>
	<h3>Séries populaires</h3>
	<div class="swiper swiper-series series-swiper">
		<div class="swiper-wrapper" id="series-wrapper"></div>
	</div>
    <button type="button" id="logout-btn" onclick="window.location.href='/logout'">Logout</button>
    <button type="button" onclick="window.location.href='/'"><- retour </button>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script src="../static/carrouselle.js"></script>
	<script src="../static/carouselleSeries.js"></script>
</body>
</html>