<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/acceuil.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <title>NetflixLight</title>
</head>
<body>
    <header id="main-header"></header>

    <h3>Films populaires</h3>
	<div class="swiper swiper-movies movies-swiper">
		<div class="swiper-wrapper" id="movies-wrapper"></div>
	</div>
	<h3>Séries populaires</h3>
	<div class="swiper swiper-series series-swiper">
		<div class="swiper-wrapper" id="series-wrapper"></div>
	</div>
    <h3>Films les mieux notés</h3>
    <div class="swiper swiper-series top-rated-movies-swiper">
		<div class="swiper-wrapper" id="top-rated-movies-wrapper"></div>
	</div>
    <h3>Séries les mieux notées</h3>
    <div class="swiper swiper-series top-rated-series-swiper">
		<div class="swiper-wrapper" id="top-rated-series-wrapper"></div>
	</div>
    <h3>Film d'action</h3>
    <div class="swiper swiper-movies genre-action-swiper">
		<div class="swiper-wrapper" id="movie-action-wrapper"></div>
	</div>
    <h3>Film Fantasy</h3>
    <div class="swiper swiper-movies genre-fantasy-swiper">
		<div class="swiper-wrapper" id="movie-fantasy-wrapper"></div>
	</div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script src="../static/script/carrouselMovies.js"></script>
	<script src="../static/script/carrouselSeries.js"></script>
    <script src="../static/script/carrouselTopRatedMovies.js"></script>
    <script src="../static/script/carrouselTopRatedTv.js"></script>
    <script src="../static/script/carrouselGenreAction.js"></script>
    <script src="../static/script/carrouselGenreFantasy.js"></script>
    <script src="../static/script/searchbar.js"></script>
    <script type="module">
        import { initHeader, updateHeaderAuth } from '../static/js/header.js';

        initHeader();

        const user = JSON.parse(localStorage.getItem('nl_user') || 'null');
        updateHeaderAuth({ isLoggedIn: !!user, username: user?.username ?? 'U' });

        document.addEventListener('nl:auth:logout', () => {
            window.location.href = '/logout';
        });
    </script>
</body>
</html>