<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/film.css">
    <title>NetflixLight</title>
</head>
<body>
    <h1>{{ film.title }}</h1>
    <p><strong>Genre:</strong> {{ film.genre }}</p>
    <p><strong>Release Date:</strong> {{ film.release_date }}</p>
    <p><strong>Description:</strong> {{ film.description }}</p>
    <button type="button" id="logout-btn" onclick="window.location.href='/logout'">Logout</button>
    <button type="button" onclick="window.location.href='/'"><- retour </button>
</body>

</html>