<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
	<title>NetflixLight</title>
</head>
<body>
	<main class="hero">
		<h1>Login</h1>
		<p>Pages Login</p>
        <form method="POST" action="/login">
            <input name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button type="submit">Login</button>
        </form>
	</main>
</body>
</html>